<div>
  <div class="buttons">
    <div>
      <div class="buttons-column">
        <div class="column-header">
          Normal
        </div>
        <div>
          <dx-button width="120px" text="Contained" hint="Contained" type="normal" stylingMode="contained"></dx-button>
        </div>
        <div>
          <dx-button width="120px" text="Outlined" hint="Outlined" type="normal" stylingMode="outlined"
            (onClick)="onClick($event)"></dx-button>
        </div>
        <div>
          <dx-button width="120px" text="Text" hint="Text" type="normal" stylingMode="text" (onClick)="onClick($event)">
          </dx-button>
        </div>
      </div>
      <div class="buttons-column">
        <div class="column-header">
          Success
        </div>
        <div>
          <dx-button width="120px" text="Contained" hint="Contained" type="success" stylingMode="contained"
            (onClick)="onClick($event)"></dx-button>
        </div>
        <div>
          <dx-button width="120px" text="Outlined" hint="Outlined" type="success" stylingMode="outlined"
            (onClick)="onClick($event)"></dx-button>
        </div>
        <div>
          <dx-button width="120px" text="Text" hint="Text" type="success" stylingMode="text"
            (onClick)="onClick($event)"></dx-button>
        </div>
      </div>
      <div class="buttons-column">
        <div class="column-header">
          Default
        </div>
        <div>
          <dx-button width="120px" text="Contained" hint="Contained" type="default" stylingMode="contained"
            (onClick)="onClick($event)"></dx-button>
        </div>
        <div>
          <dx-button width="120px" text="Outlined" hint="Outlined" type="default" stylingMode="outlined"
            (onClick)="onClick($event)"></dx-button>
        </div>
        <div>
          <dx-button width="120px" text="Text" hint="Text" type="default" stylingMode="text"
            (onClick)="onClick($event)"></dx-button>
        </div>
      </div>
      <div class="buttons-column">
        <div class="column-header">
          Danger
        </div>
        <div>
          <dx-button width="120px" text="Contained" hint="Contained" type="danger" stylingMode="contained"
            (onClick)="onClick($event)"></dx-button>
        </div>
        <div>
          <dx-button width="120px" text="Outlined" hint="Outlined" type="danger" stylingMode="outlined"
            (onClick)="onClick($event)"></dx-button>
        </div>
        <div>
          <dx-button width="120px" text="Text" hint="Text" type="danger" stylingMode="text" (onClick)="onClick($event)">
          </dx-button>
        </div>
      </div>
    </div>
  </div>
  <div>
    Last clicked button - {{lastClickedButton}}
  </div>
  <div class="buttons">
    <div>
      <div class="buttons-column">
        <div class="column-header">
          Normal {{ toggle ? 'ON' : 'OFF' }}
        </div>
        <div>
          <dx-toggle-button width="120px" text="Outlined" hint="Outlined" type="normal" stylingMode="outlined"
            [(pressed)]="toggle"></dx-toggle-button>
        </div>
      </div>
      <div class="buttons-column">
        <div class="column-header">
          Success {{toggle ? 'ON' : 'OFF'}}
        </div>
        <div>
          <dx-toggle-button width="120px" text="Outlined" hint="Outlined" type="success" stylingMode="outlined"
            [(pressed)]="toggle"></dx-toggle-button>
        </div>
      </div>
      <div class="buttons-column">
        <div class="column-header">
          Default {{toggle ? 'ON' : 'OFF'}}
        </div>
        <div>
          <dx-toggle-button width="120px" text="Outlined" hint="Outlined" type="default" stylingMode="outlined"
            [(pressed)]="toggle"></dx-toggle-button>
        </div>
      </div>
      <div class="buttons-column">
        <div class="column-header">
          Danger {{ toggle ? 'ON' : 'OFF'}}
        </div>
        <div>
          <dx-toggle-button width="120px" text="Outlined" hint="Outlined" type="danger" stylingMode="outlined"
            [(pressed)]="toggle"></dx-toggle-button>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonGroups">
    <dx-button-group [items]="fontStyles" [(selectedItems)]="selectedItems" selectionMode="multiple"
      stylingMode="outlined" keyExpr="style"></dx-button-group>
    <dx-button-group [items]="fontStyles" selectionMode="multiple" stylingMode="contained"
      [(selectedItems)]="selectedItems" keyExpr="style"></dx-button-group>
    <dx-button-group [items]="fontStyles" selectionMode="single" stylingMode="text" [selectedItems]="['bold', 'strike']"
      keyExpr="style"></dx-button-group>
  </div>
  <div class="drawer">
    <div class="drawer-toolbar">
      <dx-button [text]="drawerOpened ? 'Close the drawer!' : 'Open the drawer!'" type="normal" stylingMode="contained"
        (onClick)="toggleDrawer($event)"></dx-button>
    </div>
    <dx-drawer [(opened)]="drawerOpened" hint="my drawer" width="800px">
      <div drawer>
        <dx-button width="100%" text="Push me!" stylingMode="text" (onClick)="toggleDrawer(false)"></dx-button>
        <dx-button width="100%" text="Push me!" stylingMode="text" (onClick)="toggleDrawer(false)"></dx-button>
        <dx-button width="100%" text="Push me!" stylingMode="text" (onClick)="toggleDrawer(false)"></dx-button>
        <dx-button width="100%" text="Push me!" stylingMode="text" (onClick)="toggleDrawer(false)"></dx-button>
        <dx-button width="100%" text="Push me!" stylingMode="text" (onClick)="toggleDrawer(false)"></dx-button>
        <dx-button width="100%" text="Push me!" stylingMode="text" (onClick)="toggleDrawer(false)"></dx-button>
      </div>


      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Penatibus et magnis dis parturient. Eget dolor morbi non arcu risus. Tristique magna sit amet
        purus gravida quis blandit. Auctor urna nunc id cursus metus aliquam eleifend mi in. Tellus orci ac auctor augue
        mauris augue neque gravida. Nullam vehicula ipsum a arcu. Nullam ac tortor vitae purus faucibus ornare
        suspendisse sed nisi. Cursus in hac habitasse platea dictumst. Egestas dui id ornare arcu. Dictumst vestibulum
        rhoncus est pellentesque elit ullamcorper dignissim.</p>
      <p>Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Neque volutpat ac tincidunt vitae
        semper quis lectus. Sed sed risus pretium quam vulputate dignissim suspendisse in. Urna nec tincidunt praesent
        semper feugiat nibh sed pulvinar. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Amet cursus sit
        amet dictum sit amet justo donec enim. Vestibulum rhoncus est pellentesque elit ullamcorper. Id aliquet risus
        feugiat in ante metus dictum at.</p>
    </dx-drawer>
  </div>
</div>
