.buttons-column > .column-header {
  flex-grow: 0;
  width: 150px;
  height: 35px;
  font-size: 130%;
  opacity: 0.6;
  text-align: left;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons > div {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}

.buttons-column > div {
  width: 150px;
  height: 50px;
}

.buttons-column {
  width: 150px;
  justify-content: center;
}

.buttonGroups > div {
  padding: 0 12px 0 0;
}

.demo-case {
  padding: 5px 0px;
}

.drawer {
  width: 800px;
}

.drawer .drawer-toolbar {
  background-color: rgba(191, 191, 191, .15);
  padding: 5px 10px;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lists > div {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}

.lists-column {
  padding: 0 10px;
}


.product {
  height: 65px;
}

.product > img {
  height: 100%;
  width: 95px;
  float: left;
}

.product > div {
  padding-left: 10px;
  vertical-align: top;
  line-height: 65px;
  font-size: 15px;
  float: left;
}

.product > div.price {
  float: right;
  font-size: 18px;
}