.dx-list {
    overflow: scroll;
}

.dx-list-item {
    border-top: 1px solid #ddd;
    color: #333;
    padding: 10px;
}

.dx-list-item:first-of-type {
    border-top: none;
}

.dx-list-item.dx-state-selected {
    background-color: #337ab3;
    color: #fff;
}

.dx-list-item.dx-state-hover {
    background-color: rgba(0,0,0,0.04);
}